* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.app {
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}